<footer class="footer">
  <div class="footer-content">
    <div class="footer-column info">
      <h3>J Ynnovatec</h3>
      <p>© {{ currentYear }} Todos los derechos reservados.</p>
    </div>

    <div class="footer-column enlaces">
      <h4>Enlaces</h4>
      <a routerLink="/sobre-nosotros">Sobre nosotros</a>
      <a routerLink="/terminos">Términos y condiciones</a>
      <a routerLink="/politica">Política de privacidad</a>
    </div>

    <div class="footer-column contacto">
      <h4>Contacto</h4>
      <p>
        <span class="icon-circle">
          <mat-icon>email</mat-icon>
        </span> info&#64;jynnovatec.com
      </p>
      <p>
        <span class="icon-circle">
          <mat-icon>whatsapp</mat-icon>
        </span> +57 300 123 4567
      </p>
    </div>
  </div>
</footer>
